/*******************************************************
               SITE WIDE
*******************************************************/
/* FONTS */
body {
  font-family: "Lucida Sans", Geneva, sans-serif;
  font-weight: 200;
  color: #333;
  background-color: blanchedalmond;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}
h1 {
  font-size: 40px;
  color: #047;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 16px;
  font-style: italic;
}

h4 {
  font-size: 20px;
  margin: 0px;
}
h5 {
  font-size: 16px;
  margin: 0px;
}
/* NAVBAR */
.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #3474e6;
  color: white;
  height: 60px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar li {
  margin-left: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}
header,
main {
  margin: 20px;
}
/*******************************************************
               CV
*******************************************************/
.paper-background {
  background-color: white;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px auto;
}

#info,
main {
  max-width: 1000px;
  padding: 0 20px;
}

#info {
  margin: 30px auto;
}

main {
  margin: 0 auto;
}

/* DISPLAY */

@media screen and (max-width: 799px) {
  #info .left {
    text-align: center;
  }
  #info .right {
    text-align: center;
    margin-top: 20px;
  }
  section .right {
    margin: 20px;
  }
  section h3 {
    font-weight: bold;
  }
}

@media screen and (min-width: 800px) {
  #info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #info .right {
    align-self: end;
    text-align: right;
  }
  section {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

#info h1 {
  margin: 0;
}
#info h2 {
  margin: 0;
}

.work-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.work-item p {
  grid-area: 2 /1 /3 /3;
}

/*******************************************************************
            PROJECTS
*********************************************************************/

.projects-wrapper {
  margin: 20px;
}
h3 {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.item {
  flex-basis: 300px;
  height: 100px;
  background-color: blue;
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  border: 1px solid red;
  align-items: center;
}

.item:nth-of-type(1) {
  flex: 1 0 100px;
}
.item:nth-of-type(2) {
  flex: 1 0 100px;
}
.item:nth-of-type(3) {
  flex: 1 0 100px;
}
/*******************************************************
                CONTACT
*******************************************************/

.contact-wrapper {
  margin: 20px;
}

.form-question {
  margin: 20px 0;
}
.form-question label {
  display: block;
  margin-bottom: 5px;
}
.form-question input,
.form-question textarea {
  width: 80vw;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 5px 10px;
}
.required label::after {
  content: " *";
  color: red;
}
#submit {
  padding: 7px 20px;
  background-color: #256ac4;
  color: white;
  border: zero;
  border-radius: 4px;
  box-shadow: 1px 2px #333;
}
#submit:hover {
  background-color: white;
  color: #256ac4;
  box-shadow: none;
  border: 1px solid#256ac4;
}
